<!doctype html>

<html lang="en">
	<head>
		<meta charset = "UTF-8">
		<title> Random Text String </title>
		

	</head>
	<body>
		<h3> Text String: </h3>
		<h3 id = "textString">
			{{#if results}}
				{{this.results}}
			{{/if}}
		</h3>
		<div id = "button">
			<button id = "genText" onclick = "generateText();"> Generate Text </button>
		</div>
		
		<script src="C:\Git\Projects\TextString\public\textString.js" />
	</body>
</html>